.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.show-scrollTop {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: auto;
    cursor: pointer;
}